<launch>
  <arg name="optitrack_topic" default="/mavros/vision_pose/pose"/>

  <!-- Launch autopilot monitor -->
  <node pkg="autopilot_monitor" name="autopilot_monitor_node" type="autopilot_monitor_node" output="screen" >
    <remap from="optitrack_topic" to="$(arg optitrack_topic)" />
    <rosparam file="$(find autopilot_monitor)/parameters/monitor_params.yaml" />
  </node>

  <!-- Launch param tuner -->
  <!-- <node pkg="param_tuner" name="param_tuner_node" type="param_tuner_node" output="screen" >
  </node> -->

  <!-- Launch rqt_reconfigure -->
  <!-- <node pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" name="rqt_reconfigure" /> -->

</launch>