<launch>
  <arg name="image_topic" default="vi_sensor/left/image_raw"/>
  <arg name="camera_info_topic" default="vi_sensor/left/camera_info"/>
  <arg name="odom_topic" default="ground_truth/odometry"/>
  <arg name="point_topic" default="/yolov5/gate/point"/>
  
  <arg name="autopilot/reference_pose" default="/move_base_simple/goal"/>
  <!-- <arg name="autopilot/reference_pose" default="autopilot/reference_pose"/> -->
  <arg name="autopilot/reference_trajectory" default="autopilot/reference_trajectory"/>

  <!-- Launch Rviz -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find fsc_autopilot)/rviz/rotors_autopilot.rviz" />
  
  <arg name="quad_name" default="hummingbird"/>

  <!-- Launch autopilot -->
  <!-- <group ns="$(arg quad_name)" >
    <node pkg="fsc_autopilot" name="fsc_rotors_node" type="fsc_rotors_node" output="screen" >
      <remap from="odom_topic" to="$(arg odom_topic)" />
      <remap from="point_topic" to="$(arg point_topic)" />
      <remap from="autopilot/reference_pose" to="$(arg autopilot/reference_pose)" />
      <remap from="autopilot/reference_trajectory" to="$(arg autopilot/reference_trajectory)" />
      <rosparam file="$(find fsc_autopilot)/parameters/rotors_control_params.yaml" />
      <rosparam file="$(find flight_system)/parameters/rotors_params.yaml" />
      <rosparam file="$(find fsc_autopilot)/parameters/hummingbird.yaml" />
    </node>
  </group> -->

  <arg name="bbox_topic" default="/yolov5/detections"/>
  <!-- Launch bbox_generator_node -->
  <node pkg="fsc_tracker" name="bbox_generator_node" type="bbox_generator_node" output="screen" >
    <remap from="odom_topic" to="$(arg odom_topic)" />
    <remap from="bbox_topic" to="$(arg bbox_topic)" />
    <rosparam file="$(find fsc_autopilot)/parameters/rotors_tracker_params.yaml" />
  </node>

  <!-- Launch tracker_node -->
  <node pkg="fsc_tracker" name="tracker_node" type="tracker_node" output="screen" >
    <remap from="odom_topic" to="$(arg odom_topic)" />
    <remap from="bbox_topic" to="$(arg bbox_topic)" />
    <remap from="point_topic" to="$(arg point_topic)" />
    <rosparam file="$(find fsc_autopilot)/parameters/rotors_tracker_params.yaml" />
  </node>

  <!-- <include file="$(find fsc_rotors_interface)/launch/quadrotor_empty_world.launch"> -->
  <include file="$(find fsc_rotors_interface)/launch/quadrotor_apriltag_world.launch">
    <arg name="quad_name" value="$(arg quad_name)"/>
    <arg name="enable_command_feedthrough" value="True"/>
  </include>

  <!-- Launch param tuner -->
  <node pkg="param_tuner" name="param_tuner_node" type="param_tuner_node" output="screen" >
  </node>

  <!-- Launch rqt_reconfigure -->
  <node pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen" name="rqt_reconfigure" />

  <node pkg="tf" type="static_transform_publisher" name="tf_baseLink_cameraPose"
        args="0.0 0.0 0.15 -1.57 0 -1.57 hummingbird/base_link camera_depth_optical_center_link 1000"/>


</launch>